<div class="tabs-scroll">
  <!-- Home -->
  <div class="explorer-tab home-tab"[class.active]="tabsService.activeTabIdState() === null">
    <button class="tab-btn" (click)="goHome()"> {{ 'home' | transloco }}</button>
  </div>

  <!-- Dynamic tabs -->
  @for (t of userTabs; track t.tabId) {
    <div
      class="explorer-tab"
      [class.active]="tabsService.activeTabIdState() === t.tabId"
      [attr.title]="t.name" 
    >
      <button class="tab-btn" (click)="select(t)">
        {{ t.name }}
      </button>
      <button class="tab-close" (click)="close(t); $event.stopPropagation()">✕</button>
    </div>
  }
</div>
