<div class="tabs-scroll">
  <!-- Home -->
  <div class="explorer-tab home-tab" [class.active]="activeTabId === null">
    <button class="tab-btn" (click)="homeClicked.emit()">
      {{ 'home' | transloco }}
    </button>
  </div>

  <!-- Tabs -->
  @for (t of userTabs; track t.tabId) {
    <div 
      class="explorer-tab" 
      [class.active]="activeTabId === t.tabId" 
      [attr.title]="t.name"
    >
    <button class="tab-btn" (click)="tabSelected.emit(t)">
      {{ t.name }}
    </button>

    <button class="tab-close" (click)="tabClosed.emit(t); $event.stopPropagation()">
      <img src="assets/icons/molv-close.svg" class="molv-close-icon">
    </button>
  </div>
  }
</div>