<div class="manga-home-root">
  <tabs
    (mangaSelected)="onTabSelected($event)"
    (mangaToEditSelected)="onMangaToEditSelected($event)">
  </tabs>
</div>

<molv-pagination
  [totalTabs]="tabsService.totalTabsState()"
  [currentPage]="page()"
  [perPage]="perPage()"
  (pageChange)="onPageChange($event)">
</molv-pagination>


<!-- windows -->
<edit-tab-window [isVisible]="showEditWindow" [tab]="tab" (closeWindow)="onEditWindowClose()"></edit-tab-window >
<settings-window [isVisible]="showSettingsWindow" (hideWindow)="onSettingsWindowHide()"></settings-window>