<molv-search (searchChange)="onSearch($event)"></molv-search>

<div class="manga-home-root">
  <tabs
    (mangaSelected)="onTabSelected($event)"
    (mangaToEditSelected)="onMangaToEditSelected($event)">
  </tabs>
</div>

<molv-pagination
  [totalTabs]="tabsService.totalTabsState()"
  [currentPage]="page()"
  
  [perPage]="perPage()"
  (pageChange)="onPageChange($event)">
</molv-pagination>


<!-- windows -->
<edit-tab-window [isVisible]="showEditWindow" [tabId]="tab?.id" [fileName]="tab?.name" [viewMode]="tab?.mode" (closeWindow)="onEditWindowClose()"></edit-tab-window >
<settings-window [isVisible]="showSettingsWindow" (hideWindow)="onSettingsWindowHide()"></settings-window>