.reader-container {  display: flex;  flex-direction: column;  align-items: center;  width: 100%;  height: 100vh;  overflow-y: auto; }

/* page mode */
.page-mode {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar */
/* .page-mode::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

.page-mode .reader-img {  scroll-snap-align: start;}