<div class="tabs-row">
  <div class="tabs-scroll">
    <!-- home button -->
    <div class="explorer-tab">
      <button class="tab-btn" (click)="goHome()">Home</button>
    </div>
    
    <!-- tabs -->
    <ng-container *ngFor="let t of visibleTabs">
      <div class="explorer-tab" [class.active]="selectedChapter?.id === t.id">
        <button class="tab-btn" (click)="selectTab(t)">{{ t.title }}</button>
        <button class="tab-close" (click)="closeTab(t)">✕</button>
      </div>
    </ng-container>
  </div>
</div>

<div class="reader-preview" *ngIf="selectedChapter">
  <h3>Preview: {{selectedChapter.title}}</h3>
  <div class="preview-pages">
    <img *ngFor="let p of selectedChapter.pages" [src]="p" />
  </div>
</div>