<div class="tabs-row">
  <div class="tabs-left">
    <div class="tabs-scroll">
      <!-- home button -->
      <div class="explorer-tab">
        <button class="tab-btn" (click)="goHome()">Home</button>
      </div>

      <!-- tabs -->
      @for (t of visibleTabs; track $index)
      {
        <div class="explorer-tab" [class.active]="selectedChapter?.id === t.id">
          <button class="tab-btn" (click)="selectTab(t)">{{ t.name }}</button>
          <button class="tab-close" (click)="closeTab(t)">✕</button>
        </div>
      }
    </div>
  </div>

  <!-- buttons -->
  <div class="tabs-right">
    <button class="molv-btn-gradient" (click)="openUploadWindow()">Upload Files</button>
  </div>
</div>

<!-- @if(selectedChapter)
{
<div class="reader-preview" >
  <h3>Preview: {{selectedChapter.name}}</h3>
  <div class="preview-pages">
    @for (p of selectedChapter.pages; track $index)
    {
    <img [src]="p" />
    }
  </div>
</div>
} -->
<upload-file-window [isVisible]="showUploadWindow" (closeWindow)="onUploadWindowClose()"></upload-file-window>