<div class="chapter-item">
  <div class="chapter-header">
    <div class="left">
      <span class="arrow" (click)="toggle()" [class.open]="isOpen">▶</span>

      <div class="title-container">
        @if (isEditMode) {
        <input class="molv-txtbx chapter-title-input"  [(ngModel)]="editTitle" (click)="$event.stopPropagation()" />
        }
        @else {
        <span class="chapter-title">{{ chapter.title }}</span>
        }
      </div>
    </div>

    <div class="right">
      <span class="count">
        {{ pages.length }} {{ pages.length !== 1 ? ('pages' | transloco) : ('page' | transloco) }}
      </span>

      @if(isEditMode) {
      <button class="molv-btn molv-btn-green" (click)="saveAndClose()">
        {{ 'save' | transloco }}
      </button>

      <button class="molv-btn molv-btn-pink" (click)="cancel()">
        {{ 'cancel' | transloco }}
      </button>
      }
      @else{
      <button class="molv-btn molv-btn-orange" (click)="upload($event)">
        {{ 'edit' | transloco }}
      </button>

      <button class="molv-btn molv-btn-pink" (click)="openChapter()">
        {{ 'read' | transloco }}
      </button>
      }
    </div>
  </div>

  <div class="pages" *ngIf="isOpen">
    @if(isEditMode) {
    <!-- uploader -->
    <molv-drop-uploader [visible]="isOpen && isEditMode" [saveAll$]="saveAll$" [clearAll$]="clearAll$" [pages]="pages"
      (onDropFinished)="onUploadFinished()" (filesProcessing)="filesProcessing = $event">
    </molv-drop-uploader>
    }
    @else {
    <!-- pages -->
    <div class="page-item"
     *ngFor="let page of pages; let i = index"
     (click)="openPage(page.id!)">
      {{ i + 1 }} {{ pages.length !== 1 ? ('pages' | transloco) : ('page' | transloco) }}
    </div>
    }
  </div>
</div>