<div class="chapter-item">

  <div class="chapter-header">

    <div class="left">
      <span class="arrow" (click)="toggle()" [class.open]="isOpen">▶</span>

      <div class="title-container">
        @if (!isEditMode) {
        <span class="chapter-title">{{ chapter.title }}</span>
        }
        @else {
        <input class="molv-txtbx chapter-title-input" [(ngModel)]="chapter.title" (click)="$event.stopPropagation()" />
        }
      </div>
    </div>

    <div class="right">
      <span class="count">
        {{ pages.length }} {{ pages.length !== 1 ? ('pages' | transloco) : ('page' | transloco) }}
      </span>

      <button class="molv-btn molv-btn-orange" (click)="upload()">
        {{ 'uploadFiles' | transloco }}
      </button>

      <button class="molv-btn molv-btn-pink" (click)="openChapter()">
        {{ 'read' | transloco }}
      </button>
    </div>

  </div>

  <div class="pages" *ngIf="isOpen">
    <div class="page-item" *ngFor="let page of pages; let i = index" (click)="openPage(i + 1)">
      {{ i + 1 }} {{ pages.length !== 1 ? ('pages' | transloco) : ('page' | transloco) }}
    </div>
  </div>

</div>