.chapter-item {
  background: var(--panel-bg);
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 12px;
  transition: 0.3s;
}

.chapter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
  transition: transform 0.2s;
  cursor: pointer;
  margin-right: 6px;
}

.arrow.open {
  transform: rotate(45deg);
}

.title-container {
  flex: 1;
  min-width: 0;
}

.chapter-title {
  font-weight: 600;
  display: block;
}

.chapter-title-input {
  width: clamp(160px, 50%, 500px);
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pages {
  margin-top: 12px;
  padding-left: 24px;
}

.page-item {
  padding: 6px 0;
  cursor: pointer;
  color: var(--accent-color);
}

.page-item:hover {
  text-shadow: 0 0 6px var(--accent-color);
}