.overlay { pointer-events: all; position: fixed;  inset: 0;  background: rgba(30, 10, 40, 0.45); backdrop-filter: blur(6px);  display: flex;  justify-content: center;  align-items: center;  z-index: 9999;  backdrop-filter: blur(3px);}

/* heart */
.spinner {  width: 80px;  height: 80px;  position: relative;  animation: pulse 1.2s infinite ease-in-out;}
.spinner::before,
.spinner::after {  content: "";  position: absolute;  top: 0;  width: 55px;  height: 105px;  background: linear-gradient(145deg, #ff7ce7, #b77bff);   border-radius: 40px 40px 0 0;}
.spinner::before {  left: 40px;  transform: rotate(45deg);}
.spinner::after {  left: 0;  transform: rotate(-45deg);}

@keyframes pulse {  0% {    transform: scale(1);    filter: drop-shadow(0 0 6px #ff8bf2);  }  50% {    transform: scale(1.15);    filter: drop-shadow(0 0 12px #c28aff);  }  100% {    transform: scale(1);    filter: drop-shadow(0 0 6px #ff8bf2);  }}
