.window-backdrop {   transition: height 0.3s ease, transform 0.3s ease; position: fixed; inset: 0; background: rgba(0,0,0,0.3); display: flex; align-items: center; justify-content: center; z-index: 1000; }
.window { position: absolute; background: #111; color: #fff; border-radius: 8px; box-shadow: 0 0 20px rgba(0,0,0,0.7); display: flex; flex-direction: column; overflow: hidden; }
.window.collapsed {height: 40px !important; }
.window-header { display: flex; justify-content: space-between; align-items: center; padding: 8px 12px; background: #222; font-weight: bold; }
.window-controls button { background: transparent; border: none; color: #fff; font-size: 16px; cursor: pointer; margin-left: 4px; }
.window-content { transition: opacity 0.3s ease; flex: 1; padding: 12px; overflow: auto; }
.window.collapsed .window-content { opacity: 0;  pointer-events: none;}

.backdrop-disabled {    background: transparent !important;  pointer-events: none;     }
.backdrop-disabled .window {  pointer-events: auto;}