<app-window
  [visible]="isVisible"
  title="Settings Mangas"
  [width]="'500px'"
  [height]="'400px'"
  position="bottom-right"
  [showClose]="false"
  [showHide]="true"
  [blockBackground]="false"
  (hide)="onWindowHide()">
  <div>
    <div class="controls">
      <div class="setting-left">
        <span class="setting-label">{{'language' | transloco}}</span>
        <molv-dropdown [(value)]="language" (valueChange)="onLangChange($event)" [options]="[
                        { value: 'en', label: 'ENG' },
                        { value: 'cs', label: 'CZ' },
                        { value: 'ru', label: 'RU' }
                      ]">
        </molv-dropdown>
      </div>
    </div>
  </div>
</app-window>
