<div class="app-shell">

  <app-manga-navbar [activeManga]="selectedMangaId" (mangaSelected)="onMangaSelected($event)"
    (openUploadWindowClicked)="onOpenUploadWindowClicked()">
  </app-manga-navbar>


  @if(viewMode === ViewMod.Home)
  {
  <div class="content">
    <app-manga-home [activeManga]="selectedMangaId" (mangaSelected)="onMangaSelected($event)">
    </app-manga-home>
  </div>
  }

  @if(viewMode === ViewMod.Chapters)
  {
  <manga-page [activeManga]="selectedMangaId">
  </manga-page>
  }

  @if(viewMode === ViewMod.Single)
  {
  <app-manga-reader [activeManga]="selectedMangaId">
  </app-manga-reader>
  }

  <upload-file-window [isVisible]="showUploadWindow()" [tabId]="selectedMangaId" [viewMode]="viewMode" (closeWindow)="onUploadWindowClose()"></upload-file-window>
</div>