<app-window [visible]="isVisible" title="Settings Mangas" [width]="'500px'" [height]="'400px'" position="bottom-right"
  [showClose]="false" [showHide]="true" [blockBackground]="false" (hide)="onWindowHide()">
  <div class="controls">
    <div class="setting-right">
      <span class="setting-label">Gap:</span>
      <molv-slider [min]="0" [max]="100" [step]="1" [(value)]="gap"></molv-slider>
    </div>

    <div class="setting-right">
      <span class="setting-label">Zoom:</span>
      <molv-slider [min]="0.5" [max]="3" [step]="0.1" [(value)]="zoom"></molv-slider>
    </div>

    <div class="setting-left">
      <span class="setting-label">{{ mode === 'scroll' ? 'Scroll Mode' : 'Page Mode' }}:</span>
      <molv-switch [(checked)]="modeIsPage"></molv-switch>
    </div>

    <div class="setting-left-group">
      <!-- button to download tab-->
      <div class="setting-left">
        <div class="setting-label">
          <molv-dropdown [(value)]="dwnldMod" [options]="[
        { value: 'mhtml', label: 'MHTML' },
        { value: 'zip', label: 'ZIP' }
        ]">
          </molv-dropdown>
        </div>
        <button class="molv-btn-gradient" (click)="export(dwnldMod)">Download</button>
      </div>

      <!-- bookmarks -->
      <div class="setting-left">
        <div class="setting-label">
          <molv-dropdown [options]="bookmarkOptions" [(value)]="selectedBookmarkId">
          </molv-dropdown>
        </div>
          <button class="molv-btn-gradient" (click)="saveBookmarkClicked.emit()">Save</button>
          <button class="molv-btn-gradient" [disabled]="!selectedBookmarkId"
            (click)="goToBookmarkClicked.emit(selectedBookmarkId!)">Go</button>
      </div>
    </div>
  </div>
</app-window>