<app-window
  [visible]="isVisible"
  title="Import Mangas"
  [width]="'500px'"
  [height]="'400px'"
  position="center"
  [showClose]="true"
  [showHide]="false"
  [showTransparency]="false"
  (close)="onWindowClose()">
  <div class="molv-container">
    <input type="text" class="molv-txtbx" placeholder="Manga Name" [(ngModel)]="finalName"  />
    <button class="molv-btn molv-btn-orange" (click)="openMultiMode()"> Multi chapters </button>
    <button class="molv-btn molv-btn-pink" (click)="saveAndClose()">Save</button>
    <molv-drop-uploader [visible]="isVisible" [saveAll$]="saveAll$" [clearAll$]="clearAll$"
      (onDropFinished)="onUploadFinished()" (fileSelected)="finalName = finalName ?? $event"></molv-drop-uploader>
  </div>
</app-window>
