<app-window [visible]="isVisible" title="Import Mangas" [width]="'500px'" [height]="'400px'" position="center"
  [showClose]="true" [closeDisabled]="filesProcessing" [showHide]="false" [showTransparency]="false"
  (close)="onWindowClose()">

  <div class="molv-container">

    <!-- selection mode -->
    <div class="molv-mode-switch">
      <button class="molv-btn molv-btn-orange molv-mode-btn active" title="Upload a single chapter">
        Single
      </button>

      <button class="molv-btn molv-btn-pink molv-mode-btn" title="Upload multiple chapters"
        (click)="openChaptersMode()">
        Multi
      </button>
    </div>

    <!-- form -->
    <input type="text" class="molv-txtbx" placeholder="Manga Name" [(ngModel)]="fileName" />

    <button class="molv-btn molv-btn-pink" (click)="saveAndClose()">
      Save
    </button>

    <molv-drop-uploader [visible]="isVisible" [saveAll$]="saveAll$" [clearAll$]="clearAll$"
      (onDropFinished)="onUploadFinished()" (filesProcessing)="filesProcessing = $event"
      (fileSelected)="fileName = fileName ?? $event">
    </molv-drop-uploader>

  </div>
</app-window>