/* NAVBAR */
.tabs-left {    display: flex;    flex: 1 1 auto;    overflow: hidden;}
.tabs-right {    display: flex;    align-items: center;    gap: 6px;    flex: 0 0 auto;}

.molv-btn-gradient {    flex: 0 0 auto;    min-width: 120px;}

molv-tabs {    display: flex;    flex: 1 1 0;    min-width: 0;}

/* ADAPT */
@media (max-width: 768px) {    .tabs-row {        flex-wrap: nowrap;    }    .explorer-tab {        padding: 4px 6px;        font-size: 14px;    }}
@media (max-width: 360px) {    .tabs-row {        flex-direction: row;        align-items: center;        gap: 6px;    }    .tabs-left {        flex: 1 1 auto;        min-width: 0;    }    .tabs-right {        flex: 0 0 auto;      }}
